body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
   
}

header {
    background-color: #ffa928;
    color: #ff8706;
    padding: 10px ;
    text-align: center;
}

nav {
    text-align: center;
    margin: 10px 0;
}

nav a {
    margin: 15px;
    color: #ff840a;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    }


.img-container {

        display: flex;
        justify-content: center;
        align-items: center;
    
    }

img {
   width: 300px;
   height: 250px;
}
 

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left; 
}

th {
    background-color: #f2f2f2;
}

section {
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #ff840a;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    font-size: 16px;
}

.team-container {
    display: flex;
    justify-content: center;
    gap: 50px; /* Espaçamento entre as imagens */
    
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-member img {
    width: 250px; /* Ajuste o tamanho conforme necessário */
    height: 280px; /* Ajuste o tamanho conforme necessário */
    border-radius: 50%; /* Faz a imagem ficar redonda */
    object-fit: cover; /* Garante que a imagem fique proporcional dentro do círculo */
    border: 3px solid #ff840a; /* Borda opcional para estilo */
}

.team-member h4 {
    margin-top: 30px; /* Espaçamento entre a imagem e o nome */
}

.map-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

iframe {
    border-radius: 10px;
    border: 2px solid #ff840a;
}